# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
.venv/
# TensorFlow/Keras artifacts
*.h5
models/
# Logs / DB
trading_log.txt
bot.db
# IDE
.vscode/
tuning_logs/
.idea/
logs/training/
.cache/
cache/
/logs/*
/backtests
/models_signals/*
node_modules
apps/api/dist/
apps/dashboard/package.json
package-lock.json
